.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1vw;

  .h1 {
    text-align: center;
    margin-bottom: 4vh;
    color: white;
  }

  button {
    padding: 2vh;
    margin-left: 2vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      transition: 0.6s;
      background-color: rgb(138, 231, 231);
    }
  }

  .pesquisa {
    padding: 2vh;
    border: none;
    border-radius: 5px;
    outline: none;
    width: 30vw;
  
    &:focus {
      border: solid 2px black;
    }
  }
  
  .tarefa {
    padding: 1vh;
    margin: 2vw;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid rgb(87, 177, 177) 1px;
  
    .checkbox {
      margin-right: 1vw;
      cursor: pointer;
    }
    button {
      padding: 1vh;
      background-color: rgb(208, 235, 235);
    }
  }
  
  .listaTarefas {
    width: 60vw;
    margin-top: 5vh;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  
    li {
      list-style: none;
    }
  }
  
  .updateTarefa {
    input { 
      padding: 1vh;
      outline: none;
      border: solid 1px black;
      border-radius: 5px;
  
    }
  }
  
  .totalTarefas {
    display: flex;
    justify-content: center;
    padding: 1vw;
    font-size: 1.1rem;
  }
}

